{% extends 'base.html' %}

{% block content %}
<section class="hero py-5">
  <div class="container" style="max-width:1080px;">
    <header class="text-center mb-4">
      <h1 class="display-5 fw-bold mb-2">Selamat Datang di xPorto</h1>
      <p class="lead text-secondary mb-0">
        Alokasikan dana Anda untuk dibentuk menjadi portofolio terbaik
      </p>
        <p class="text-danger">Perhatian! Bukan ajakan untuk membeli saham</p>

        <div class="d-flex gap-2 justify-content-center mt-3">
        <a href="{{ url_for('main.dashboard') }}" class="btn btn-primary">Mulai Alokasi</a>
        <a href="https://github.com/BertyAl/Skripsi-1" class="btn btn-primary">Lihat Dokumentasi</a>
      </div>
    </header>

    <div class="row g-3">
      <!-- Card 1 -->
     <div class="col-12 col-md-4 text-center">
        <img src="https://opendoodles.s3-us-west-1.amazonaws.com/reading.svg" alt="reading" width="200" height="200">
        <h5 class="fw-semibold mb-2">Lebih Informatif</h5>
        <p class="text-secondary mb-0">
          Dapatkan ide investasi yang baik dari hasil diskusi dan analisa saham investor yang berpengalaman.
        </p>
      </div>

      <!-- Card 2 -->
      <div class="col-12 col-md-4 text-center">
            <img src="https://opendoodles.s3-us-west-1.amazonaws.com/roller-skating.svg" alt="Roller skating illustration" width="200" height="200">
            <h5 class="fw-semibold mb-2">Lebih Cepat</h5>
            <p class="text-secondary mb-0">
              Informasi tersebar lebih cepat dengan bantuan komunitas. Kamu akan lebih ter-update dengan informasi terkini.
            </p>
          </div>

      <!-- Card 3 -->
        <div class="col-12 col-md-4 text-center">
        <img src="https://opendoodles.s3-us-west-1.amazonaws.com/dancing.svg" alt="dancing" width="200" height="200">
        <h5 class="fw-semibold mb-2">Lebih Seru</h5>
        <p class="text-secondary mb-0">
          Investasi jadi lebih seru bareng teman dan keluarga. Bagikan strategi, saling melengkapi, dan nikmati hasilnya bersama.
        </p>
      </div>
    </div>

    <!-- highlight strip -->
    <div class="card mt-4 shadow-sm">
      <div class="card-body">
        <ul class="bullet-list mb-0">
          <li>Prediksi harga saham dengan penggunaan xLSTM dalam melihat pola harga</li>
          <li>Penggunaan optimasi portofolio Markowitz dalam alokasi dana</li>
          <li>Tidak perlu melakukan login terlebih dahulu dan dapat langsung memulai</li>
          <li>Visualisasi data yang dapat menampilkan tabel, chart dan grafik</li>
        </ul>


      </div>
    </div>
  </div>
</section>
{% endblock %}
